# Project level
venv/  
vscode/
model.png

# experiment_tracker 
experiment_tracker/harty/
experiment_tracker/__pycache__/

# Node.js
website/node_modules/
website/config/
website/uploads/
website/package-lock.json
yarn.lock

# Hagag Testing
server.py
request_data.json
dataset_metadata.json
dataver.py
test.json